:where([class^="ri-"])::before { content: "\f3c2"; }
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
.hero-gradient {
background: linear-gradient(90deg, rgba(255,248,240,1) 0%, rgba(255,248,240,0.9) 50%, rgba(255,248,240,0) 100%);
}